<h1>STUPID COACHING</h1>

<h5>Ask your coach anything:</h5>
<form class="form" action="/answer" method="get">
  <input class="box" type="text" name="question">
  <input class="btn" type="submit" value="Ask!">
</form>
